img{
    border-radius: 20px;
    transition: transform .2s;
}



img:hover{
    transform: scale(1.02);
   
}


/* Add this to your existing CSS */
@media screen and (max-width: 600px) {
    .banner-right {
        width: 100%;
    }
}
